

<h1>Your word:</h1>
<%= @word %>

<ul>
<% @definitions.each() do |definition| %>
<li><%= @definition %></li>
</ul>


<br>


<form action="/word/definitions" method="post">
  <label for="new_definition">Define Word:</label>
  <input id="new_definition" name="new_definition" type="text">
  <!-- <label for="definition">Definition</label>
  <input id="definition" name="definition" type="text"> -->
  <button type="submit">Add Definition</button>
</form>
