
<div class="jumbotron"><h1>The Interactive Dictionary</h1></div>


<div class="container">

  <h1>Words in Dictionary:</h1>

<ul>
  <% @words.each() do |word| %>
  <li><a href="/word/<%= word.id() %>"><%= word.term() %></a> </li>
      <% end %>
</ul>
</div>

<form action="/words" method="post">
  <label for="word">Term:</label>
  <input id="word" name="word" type="text">
  <!-- <label for="definition">Definition</label>
  <input id="definition" name="definition" type="text"> -->
  <button type="submit">Add Word</button>
</form>
