

<div class="container"><h1>Your word:</h1><br>
<%= @word.term() %>
</div>
<br>



#### word/:id/definitions
<br>
<form action="/word/<%= @id %>/definitions" method="post">
  <label for="new_definition">Define Word:</label>
  <input id="new_definition" name="new_definition" type="text">
  <!-- <label for="definition">Definition</label>
  <input id="definition" name="definition" type="text"> -->
  <button type="submit">Add Definition</button>
</form>
